#xtinapark {
    font-family: 'Amita', cursive;
    font-size: xxx-large;
}

.color-nav {
    background-color: orange;
    height: 5rem;
}

.color-nav a {
    color: rgb(9,83,133);
}

.custom-toggler {
    border-color: rgba(9,83,133, .5);
}

.custom-toggler:hover {
    border-color: rgba(9,83,133, 1);
}

.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9, 83, 133, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.navbar-toggler:focus, 
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


